<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asc_ii.bangnote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BigBangSettingsActivity"
            android:label="@string/bigbang_settings"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NoteSettingsActivity"
            android:label="@string/note_settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.StyleActivity"
            android:label="@string/style"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.ListenClipboardService"
            android:enabled="true"
            android:exported="true"
            android:process=":listener" />

        <receiver
            android:name=".receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditPadActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity
            android:name=".activity.PreviewActivity">
            android:screenOrientation="portrait"
        </activity>


        <!-- UMENG配置 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="模仿了 Smartisan OS 的 BigBang 功能"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>

        <activity
            android:name=".bigbang.BigBangActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="bigBang"/>
            </intent-filter>
        </activity>
        <activity android:name=".xposed.setting.XposedAppManagerActivity"/>


        <service
            android:name=".service.BigBangService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>
    </application>

</manifest>